<!DOCTYPE html>
<html lang="en">
 {{>header}}
  <body>
 {{>navbar}}
 {{>Home}}
  {{>about}}
 {{>Menu}}
 {{>Service}}
  {{>contact}}
   <div class="copyright">
        <p>© Asslone4 All Right Reserved.</p>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>